<div id="bundlify-exit-intent"
     data-enabled="{{ block.settings.enabled }}"
     style="display:none;">
</div>

{% schema %}
{
  "name": "Bundlify Exit-Intent",
  "target": "body",
  "javascript": "bundlify.js",
  "stylesheet": "bundlify.css",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable exit-intent bundles",
      "default": false
    }
  ]
}
{% endschema %}
